
<div class="mx-auto  w-full">
  <table class="my-5 w-full border-collapse">
    <tr>
      <td class="border border-gray-300 py-2 px-4 font-bold">Usuario</td>
      <td class="border border-gray-300 py-2 px-4 font-bold">Endereço</td>
      <td class="border border-gray-300 py-2 px-4 font-bold">Aprovador</td>
      <% if action_name != "show" %>
      <td class="border border-gray-300 py-2 px-4 font-bold">Editar</td>
      <td class="border border-gray-300 py-2 px-4 font-bold">Ver</td>
        <% end %>
    </tr>
    <tr>
      <td class="border border-gray-300 py-2 px-4 text-center"><%= chef.user.name %></td>
      <td class="border border-gray-300 py-2 px-4 text-center"><%= chef.address.name %></td>
      <td class="border border-gray-300 py-2 px-4 text-center"><%= chef.approver.user.name %></td>
        <% if action_name != "show" %>
      <td class="border border-gray-300 py-2 px-4 text-center"><%= link_to 'Editar', edit_chef_path(chef), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
      <td class="border border-gray-300 py-2 px-4 text-center"><%= link_to 'Ver', chef, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
      <% end %>
    </tr>
  </table>
</div>

