<%= form_with(model: order, class: "contents") do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :cliente %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name, { prompt: "Selecione um cliente" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


<table class="my-5 w-full border-collapse">
  <thead>
    <tr>
      <th class="border border-gray-300 py-2 px-4 font-bold">Quantidade</th>
      <th class="border border-gray-300 py-2 px-4 font-bold">Item</th>
      <th class="border border-gray-300 py-2 px-4 font-bold">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.items.each do |order_item| %>
      <tr>
        <td class="border border-gray-300 py-2 px-4 text-center"><%= order_item.amount %></td>
        <td class="border border-gray-300 py-2 px-4 text-center"><%= order_item.dish&.name %></td>
        <td class="border border-gray-300 py-2 px-4 text-center">
          <% if order_item.amount.present? && order_item.unit_price.present? %>
            <%= order_item.amount * order_item.unit_price %>
          <% else %>
            N/A
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


  <div style="margin-top: 10px; margin-right: 10px; text-align: right;">
  <%= link_to "Adicionar item ao pedido", new_order_item_path, class: "bg-blue-600 text-white hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"%>
</div>


  <%= form.fields_for :delivery_address do |address_form| %>
    <div class="my-5">
      <%= address_form.label :name, "Rua" %>
      <%= address_form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= address_form.label :number, "Numero" %>
      <%= address_form.text_field :number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= address_form.label :complement, "Complemento" %>
      <%= address_form.text_field :complement, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= address_form.label :neighborhood, "Bairro" %>
      <%= address_form.text_field :neighborhood, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= address_form.label :zip_code, "CEP" %>
      <%= address_form.text_field :zip_code, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= address_form.label :city_id, "Cidade" %>
      <%= address_form.collection_select :city_id, City.all, :id, :name, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :preço_total %>
    <%= form.text_field :total_price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :status, "Status" %>
    <%= form.select :status, Order.statuses.keys, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :freight_price, "Valor frete" %>
    <%= form.text_field :freight_price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :coupon_id, "Cupom" %>
    <%= form.collection_select :coupon_id, Coupon.all, :id, :name, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>


  <div class="my-5">
  </div>
    <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
