<div id="<%= dom_id dish %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Chef:</strong>
    <%= dish.chef_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= dish.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= dish.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Available:</strong>
    <%= dish.available %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= dish.active %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit price:</strong>
    <%= dish.unit_price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this dish", dish, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this dish', edit_dish_path(dish), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
