<%= form_with(model: dish, class: "contents") do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :chef_id, "Chefe" %>
    <%= form.collection_select :chef_id, Chef.all, :id, :id, { prompt: "Selecione um chefe" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :unit_price, "Preço Unitário" %>
    <%= form.text_field :unit_price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :available, "Disponivel" %>
    <div class="flex items-center mt-2">
      <label class="mr-4">
        <%= form.radio_button :available, true, class: "mr-1" %>
        Sim
      </label>
      <label style="margin-left: 10px;">
        <%= form.radio_button :available, false, class: "mr-1" %>
        Não
      </label>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :active, "Ativo" %>
    <div class="flex items-center mt-2">
      <label class="mr-4">
        <%= form.radio_button :active, true, class: "mr-1" %>
        Sim
      </label>
      <label style="margin-left: 10px;">
        <%= form.radio_button :active, false, class: "mr-1" %>
        Não
      </label>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :category_id, "Categoria" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Selecione uma categoria" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
