
  <header class="flex [&>*]:flex-1 bg-blue-600 p-7">
  <section class="font-black text-2xl text-white">

  <a href="<%= root_path %>" class="btn-home">
    <h1>RaroFood</h1>
  </a>
</section>


    <div  id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
        <%= link_to "Pedidos", orders_path, class: "text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <%= link_to "Clientes", customers_path, class: "text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <%= link_to "Chefes", chefs_path, class: "text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <%= link_to "Items pedido", order_items_path, class: "text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <%= link_to "Categorias", categories_path, class: "text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <%= link_to "Pratos", dishes_path, class: "text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>

      </div>
    </div>


  </header>

  <div style="margin-top: 10px; margin-right: 10px; text-align: right;">
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-blue-600 text-white hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"%>
</div>


